@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-6 col-md-offset-3 card-header dark-border">
        <h2>Coming Soon&trade;</h2>
    </div>
    <div class="col-md-6 col-md-offset-3 bg-white shadow">
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec sem justo. Sed posuere dictum faucibus. Nam posuere elit quis pretium euismod. Vestibulum ac ullamcorper ipsum, eu tempus erat. Sed luctus ligula enim, vitae pharetra lectus mollis in. Phasellus convallis elit in massa mattis sagittis. Vestibulum fermentum tellus lacus, a pulvinar nisl iaculis et. Curabitur nec nulla nec nisl gravida euismod a sed libero. Nunc a consequat tortor, eu hendrerit lorem. Phasellus blandit odio a tempus iaculis. Nullam at convallis justo. Morbi quis tincidunt dui. Donec tellus urna, laoreet id malesuada sed, vulputate ac tortor. </p>

    </div>
</div>